html {
  font-size: 16px;
}

body {
  margin: 10px;
}

.App {
  text-align: center;
}

.App-header {
  margin: 5px;
}

li{
  margin: 10px;
}

.navbar{
  border-radius: 10px;
  background-color:hsl(0, 0%, 75%);
  border-color:hsl(0, 0%, 75%);
  overflow: auto;
}

.navbar .nav-pills >li >a {
    color: black;
    font-size: 1.2rem;
 }

.navbar .nav-pills > li > a:hover {
    background-color: hsl(51, 100%, 50%);
    color: black;
 }

.navbar .nav-pills .active {
   background-color: hsl(51, 100%, 50%);
   color:Black ;
   font-weight:bold;
}

.error {
  color: hsl(0, 93%, 57%);
}

/* CSSTransitionGroup Classes  */
/* For the initial page load */
.fade-appear {
  opacity: 0.01;
}
.fade-appear.fade-appear-active {
  opacity: 1;
  text-align: center;
  transition: all 800ms;
}

/* As elements are added to the DOM */
.fade-enter {
  opacity: 0.01;
  transform: scale(1, 0);
  overflow: hidden;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  text-align: center;
  transform: scale(1, 1);
  transition: opacity 800ms ease-in, transform 800ms ease-out;
}

/* As elements are removed from the DOM */
.fade-leave {
  opacity: 0.01;
  height: 180px;
  will-change: height;
}
.fade-leave.fade-leave-active {
  opacity: 0.01;
  text-align: center;
  height: 2px;
  color: transparent;
  background-color: hsl(0, 85%, 40%);
  transition:
    opacity 800ms ease-out,
    background-color 800ms linear,
    height 800ms ease-out,
    color 800ms linear
}